@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    cursor: url(../img/cursor.cur), default;
    transition: .5s;
    text-decoration: none;
}

html{
    font-size: .8px;
}

a:hover{
    color: #fd8300;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    padding-top: 55rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 18rem 0;
    width: 100%;
    background-color: #1f1f56;
    z-index: 1000;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 28rem;
    padding: 37rem 0 47rem;
}

h1{
    font-size: 30rem;
    padding-bottom: 17rem;
    color: #24242b;
}

li{
    list-style: none;
}

footer{
    background-color: #ededf5;
    padding: 41rem 0 30rem;
}

aside > ul{
    font-size: 14rem;
    line-height: 1.7em;
    color: #25252c;
}

.wrapper{
    width: 100%;
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.align_items{
    display: flex;
    align-items: center;
}

.flex_between{
    display: flex;
    justify-content: space-between;
}

.grey{
    color: #b1b1d2;
}

.six{
    color: #666666;
}

.black{
    color: #25252c;
}

.white{
    color: #ffffff;
}

.b_color{
    background-color: #e4e4ec;
}

.rs{
    font-family: "Roboto Slab";
}

.nav_header{
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 1.7em;
}

.list_header{
    flex-direction: column;
    gap: 10rem;
}

.list_social{
    flex-direction: column;
    gap: 26rem;
}

.list_social svg{
    fill: #fff;
    transition: .5s;
}

.list_social li:hover svg{
    fill: #fd8300;
}

.header_2{
    padding: 160rem 0 29rem;
}

.header_2 div{
    flex-wrap: wrap;
}

.tel{
    font-size: 18rem;
    font-weight: bold;
    line-height: 1.3em;
}

.border{
    border-right: 2rem solid #e4e4ec;
    padding-right: 40rem;
}

.social_media{
    font-size: 16rem;
    line-height: 1.5em;
}

.phone{
    padding-left: 26rem;
}

.email{
    text-decoration: underline;
}

.cta{
    display: inline-block;
    font-weight: bold;
    padding: 12rem 27rem;
    font-size: 16rem;
    line-height: 1.5em;
    border-radius: 25rem;
    border: 2rem solid #fd8300;
}

.offer{
    padding: 58rem 0 43rem;
    background: url(../img/Rectangle.png)  no-repeat center/cover;
}

.propose{
    font-size: 30rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.choice{
    font-size: 14rem;
    line-height: 1.7em;
    text-align: center;
}

.price{
    color: #fd8300;
    text-align: center;
}

.numbers{
    display: inline;
    font-size: 40rem;
    font-weight: bold;
}

.grn{
    display: inline;
    font-size: 24rem;
    font-weight: bold;
    line-height: 1em;
}

.offer sup{
    font-size: 12rem;
}

.main_text{
    padding-bottom: 25rem;
    border-bottom: 1rem solid #e4e4ec;
}

.paragraph{
    font-size: 14rem;
    line-height: 1.7em;
}

.paragraph > p{
    padding-bottom: 15rem;
}

.details{
    font-size: 14rem;
    font-weight: bold;
    padding-top: 3rem;
    line-height: 1.7em;
    transition: .5s;
}

.details:hover{
    text-decoration: underline;
}

.popular{
    font-size: 24rem;
    padding: 31rem 0 24rem;
    color: #24242b;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 28rem;
}

.projects sup{
    font-size: 9rem;
}

.projects a{
    font-size: 14rem;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
}

.projects a:hover{
    text-decoration: underline;
}

.projects picture{
    padding-bottom: 12rem;
}

.dt1 p, .dt2 p, .dt3 p{
    font-size: 13rem;
    line-height: 1.4em;
    color: #9999a6;
}

.nav_aside{
    position: sticky;
    top: 55rem;
    left: 0;
    min-width: 220rem;
}

.kinds{
    font-size: 16rem;
    font-weight: 400;
    padding: 10rem 15rem;
    color: #ffffff;
    line-height: 1.5em;
    background-color: #1f1f56;
    border-radius: 3rem 3rem 0 0;
}

.list_aside > li > a{
    position: relative;
}

.list_aside a{
    display: block;
    font-size: 14rem;
    padding: 10rem 15rem;
    color: #25252c;
    line-height: 1.7em;
    transition: 0.5s;
}

.list_aside > li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15rem;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    border-right: 1rem solid #666;
    border-bottom: 1rem solid #666;
    transition: .5s;
    transform: translateY(-50%) rotate(-45deg);
}

.list_aside > li:hover > a:after {
    border-right-color: #fff;
    border-bottom-color: #fff;
    transform: translateY(-50%) rotate(45deg);

}

.list_aside > li{
    border-bottom: 1rem solid #cecedd;
}

.show{
    display: none;
}

.show a{
    padding-left: 29rem;
    color: #666666;
}

.list_aside > li:hover > a{
    background-color: #fd8300;
}

.list_aside > li:hover > a{
    color: #ffffff;
}

.entertaiment:hover > .show{
    display: block;
}

.sold1:hover {
    display: block;
    background-color: #cecedd;
}

.booked1:hover {
    display: block;
    background-color: #cecedd;
}

.procces1:hover {
    display: block;
    background-color: #cecedd;
}

.ready_houses{
    border-radius: 0 0 3rem 3rem;
}

.list_footer{
    font-size: 14rem;
    gap: 11rem;
    line-height: 1.9em;
}

.list_footer a:hover{
    text-decoration: underline;
}

.construction{
    font-size: 13rem;
    padding: 17rem 0 15rem;
    color: #9999a6;
    line-height: 1.4em;
    text-align: center;
    background-color: #dcdce6;
}

@media screen and (max-width: 425px) {
    .header_2 div{
        flex-direction: column;
        gap: 10rem;
    }
}

@media screen and (max-width: 545px) {
    .lists_footer{
        flex-direction: column;
    }

    .footer_phone{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.93px;;
    }

    .projects{
        flex-wrap: nowrap;
    }
    
    .list_header{
        flex-direction: row;
        gap: 27rem;
    }

    .list_social{
        flex-direction: row;
    }

    .header_2{
        padding-top: 29rem;
    }
}

@media screen and (min-width: 1024px) {
    main{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.5px;
    }
}