@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    cursor: url(../img/cursor.cur), default;
    transition: .5s;
    text-decoration: none;
}

a:hover{
    color: #fd8300;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    padding-top: 55px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 18px 0;
    width: 100%;
    background-color: #1f1f56;
    z-index: 1000;
}

main{
    display: flex;
    gap: 28px;
    padding: 37px 0 47px;
}

h1{
    font-size: 30px;
    padding-bottom: 17px;
    color: #24242b;
}

li{
    list-style: none;
}

footer{
    background-color: #ededf5;
    padding: 41px 0 30px;
}

aside > ul{
    font-size: 14px;
    line-height: 1.7em;
    color: #25252c;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.align_items{
    display: flex;
    align-items: center;
}

.flex_between{
    display: flex;
    justify-content: space-between;
}

.grey{
    color: #b1b1d2;
}

.six{
    color: #666666;
}

.black{
    color: #25252c;
}

.white{
    color: #ffffff;
}

.b_color{
    background-color: #e4e4ec;
}

.rs{
    font-family: "Roboto Slab";
}

.nav_header{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
}

.nav_header > ul{
    gap: 27px;
}

.social_nav > ul{
    gap: 26px;
}

.list_social svg{
    fill: #fff;
    transition: .5s;
}

.list_social li:hover svg{
    fill: #fd8300;
}

.header_2{
    padding: 29px 0;
}

.tel{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3em;
}

.border{
    border-right: 2px solid #e4e4ec;
    padding-right: 40px;
}

.social_media{
    line-height: 1.5em;
}

.phone{
    padding-left: 22px;
}

.email{
    text-decoration: underline;
}

.cta{
    display: inline-block;
    font-weight: bold;
    padding: 12px 27px;
    line-height: 1.5em;
    border-radius: 25px;
    border: 2px solid #fd8300;
}

.offer{
    padding: 79px 0 59px;
    background: url(../img/Rectangle.png)  no-repeat center/cover;
}

.propose{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.choice{
    font-size: 14px;
    line-height: 1.7em;
    text-align: center;
}

.price{
    color: #fd8300;
    text-align: center;
}

.numbers{
    display: inline;
    font-size: 40px;
    font-weight: bold;
}

.grn{
    display: inline;
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
}

.offer sup{
    font-size: 12px;
}

.main_text{
    padding-bottom: 36px;
    border-bottom: 1px solid #e4e4ec;
}

.paragraph{
    font-size: 14px;
    line-height: 1.7em;
}

.paragraph > p{
    padding-bottom: 20px;
}

.details{
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    line-height: 1.7em;
    transition: .5s;
}

.details:hover{
    text-decoration: underline;
}

.popular{
    font-size: 24px;
    padding: 31px 0 24px;
    color: #24242b;
}

.projects sup{
    font-size: 9px;
}

.projects a{
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
}

.projects a:hover{
    text-decoration: underline;
}

.projects picture{
    padding-bottom: 12px;
}

.dt1 p, .dt2 p, .dt3 p{
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
}

.nav_aside{
    position: sticky;
    top: 55px;
    left: 0;
    min-width: 220px;
}

.kinds{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    color: #ffffff;
    line-height: 1.5em;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
}

.list_aside > li > a{
    position: relative;
}

.list_aside a{
    display: block;
    font-size: 14px;
    padding: 10px 15px;
    color: #25252c;
    line-height: 1.7em;
    transition: 0.5s;
}

.list_aside > li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    transition: .5s;
    transform: translateY(-50%) rotate(-45deg);
}

.list_aside > li:hover > a:after {
    border-right-color: #fff;
    border-bottom-color: #fff;
    transform: translateY(-50%) rotate(45deg);

}

.list_aside > li{
    border-bottom: 1px solid #cecedd;
}

.show{
    display: none;
}

.show a{
    padding-left: 29px;
    color: #666666;
}

.list_aside > li:hover > a{
    background-color: #fd8300;
}

.list_aside > li:hover > a{
    color: #ffffff;
}

.entertaiment:hover > .show{
    display: block;
}

.sold1:hover {
    display: block;
    background-color: #cecedd;
}

.booked1:hover {
    display: block;
    background-color: #cecedd;
}

.procces1:hover {
    display: block;
    background-color: #cecedd;
}

.ready_houses{
    border-radius: 0 0 3px 3px;
}

.list_footer{
    font-size: 14px;
    gap: 11px;
    line-height: 1.9em;
}

.list_footer a:hover{
    text-decoration: underline;
}

.construction{
    font-size: 13px;
    padding: 17px 0 15px;
    color: #9999a6;
    line-height: 1.4em;
    text-align: center;
    background-color: #dcdce6;
}